@media screen and (max-width: 2350px) {
    .main__modal {
        left: 1010px;
    }
}

@media screen and (max-width: 1750px) {
    .main__modal {
        left: 710px;
    }
}

@media screen and (max-width: 1500px) {
    .main__modal {
        left: 580px;
    }
}

@media screen and (max-width: 1200px) {
    .main__modal {
        left: 440px;
    }
}